$base_color: #3A5F56;
$second_color: #292C32;
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}



.container{
    max-width: 1170px;
    margin: 0 auto;
}

.btn{
    color: #fff;
    background-color: $base_color;
    border-radius: 6px;
    padding: 10px 18px;
}


.header{
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__box{
        display: flex;
        align-items: center;
    }

    &__menu{
        display: flex;
    }

    &__link{
        color: $base_color;
        font-size: 16px;

        &:hover{
            color: red;
        }
    }

    &__item{
        margin-right: 30px;
    }

    &__cart{
        display: flex;
        gap: 8px;
        &::before{
            content: '';
            background: url(../img/cart-logo.png);
            display: block;
            width: 17px;
            height: 17px;
        }
        &::after{
            content: "0";
            color: $base_color;
            background-color: #fff;
            padding: 0 6px 0 6px;
            border-radius: 50%;
        }
    }


}

.main{
    background: url(../img/bg_main.png) no-repeat center center / cover;
    padding: 100px 0;

    &__wrap{
        display: flex;
        gap: 64px;
        align-items: center;
    }

    &__title{
        font-size: 48px;
        color: $base_color;
        line-height: 57px;
        margin-bottom: 15px;
    }

    &__text{
        font-size: 16px;
        color: $base_color;
        margin-bottom: 17px;
    }
}


.services{
    padding: 100px 0;
    
    &__arrow{
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__title{
        color: $base_color;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-bottom: 11px;
    }

    &__text{
        color: $second_color;
        font-size: 16px;
        line-height: 22px;
        max-width: 590px;

        margin: 0 auto;
        margin-bottom: 17px;
        &_center{
            text-align: center;
        }
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 40px;
    }

    &__card{
        max-width: 320px;
        background-color: #F4F3F0;
        padding: 30px;
        border-radius: 16px;
    }

    &__icon{
        height: 48px;
        width: 48px;
        margin-bottom: 9px;
    }

    &__card-title{
        color: $base_color;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 6px;
    }

    &__link{
        color: $base_color;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 5px;
        &::after{
            content: "";
            background-image: url(../img/Arrow-Icon.svg);
            display: block;
            width: 20px;
            height: 10px;
        }
    }
}

.store{
    padding: 100px 0;
    background-color: #F4F3F0;
    &__icon{
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    &__title{
        color: #DB343B;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-bottom: 11px;
    }

    &__text{
        color: $base_color;
        font-size: 16px;
        line-height: 22px;
        max-width: 590px;
        margin: 0 auto;
        margin-bottom: 17px;
        &_center{
            text-align: center;
        }
    }

    &__row{
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
    }

    &__card{
        max-width: 380px;
        background-color: #fff;
        border-radius: 16px;
    }

    &__text-block{
        padding: 30px;
    }

    &__card-title{
        color: $base_color;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 11px;
    }

    
    &__link{
        display: flex;
        justify-content: center;
        color: $base_color;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 5px;
        &::after{
            content: "";
            background-image: url(../img/Arrow-Icon.svg);
            display: block;
            width: 20px;
            height: 10px;
        }
    }
}

.contact{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    &__card{
        background-color: #F4F3F0;
        max-width: 800px;
        display: flex;
        align-items: center;
        padding: 80px;
    }

    &__title{
        max-width: 310px;
        margin-right: 200px;
        color: $second_color;
        font-size: 28px;
        line-height: 33px;
    }

    &__btn{
        padding: 15px 25px;
        font-size: 20px;
        line-height: 28px;
    }
}

.footer{
    padding: 100px 0;
    background-color: $second_color;

    &__logo{
        display: flex;
        justify-content: center;
        margin-bottom: 75px;
    }

    &__row{
        display: flex;
        gap: 16px;
        margin-bottom: 28px;
    }

    &__list{
        max-width: 220px;
        padding-right: 25px;
    }

    &__pages{
        margin-bottom: 32px;
    }

    &__title{
        color: #B87D58;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    &__items{
        color: #fff;
        margin-top: 13px;
        font-size: 16px;
        line-height: 22px;
    }

    &__preset{
        margin-bottom: 22px;
    }

    &__text{
        color: #fff;
        margin-top: 13px;
        font-size: 16px;
        line-height: 22px;
    }

   &__email-block{
    padding: 15px 0;
    width: 460px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
   }

   &__email-input{
    width: 360px;
    border: 0px;
    outline: none;
    margin-left: 25px;
    font-size: 16px;
   }

   &__email-btn{
        color: #FAFAFC;
        background-color: $second_color;
        padding: 8px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
   } 

   &__bottom{
    display: flex;
    color: #fff;
    justify-content: space-between;
   }


   &__webflow{
    color: #fff;
   }

   &__icons{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    }
}

